html{
    background-color: rgb(32, 68, 90)  ;
  }
#TitlePart{
  margin-top: 1rem;
}
#Divider{margin-top: 2rem;}
#DetailPersonal{margin-top: 2rem;}
#mapEvent{
  margin-top: 1rem;
}
iframe{
  width: 72rem;
  height: 40rem;;  
}
#CardView{
  background-color: transparent
}
#DividerProducts{
  margin-top: 1rem;
}
#ListofProducts{
  margin-top: 1rem;
}
#CollaborationsPart{
  margin-top: 1rem;
}
#contributors{
  margin-top: 1rem;
}
#IconLink{
}
#contributorsText{
}
.disabled {
  pointer-events: none;
  cursor: default;
  color:rgba(158, 155, 155, 0.822);

}  
.disabled {
  pointer-events: none;
  cursor: default;
  color:rgba(158, 155, 155, 0.822);
}
