html{
    background-image: url(../../pics/utilities/Party.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#LoginCard{
    margin-top: 7rem;
    border-radius: 1vh;
}
#buttonTitle{
    position: relative;
    left: 1.5rem;
}
#saludate{
    position: relative;
    left: 0.8rem;
    font-weight: bold;
}
::placeholder { /* Firefox, Chrome, Opera */ 
    color: black; 
} 
#imageAutenticator{
    width: 30vh;
    height: 25vh;
}
#qr{
    margin-top:1rem;
}
#descriptionSaludate{
    position: relative;
    left: 0.8rem;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
#FooterPart{
    background-color: rgb(32, 68, 90)  ;
}
#NavBar{
    background-color: rgb(245, 29, 47);
}

