#card-informationProfile{
    background-color: #E71D36;
    border-radius: 10px;
    color:white;
}
#card-statidisticsProfile{
    background-color: #E71D36;
    border-radius: 10px;
    color:white;
}
#divider{
    position: relative;
    top:2px;
}
#informationProfile{
    position: relative;
    top:1rem;
}
#titlepersonal{
    font-weight: bold;
}
#name-div-info, #lastname-div-info, #email-div-info, #username-div-info{
    margin-top: 1rem;
}
#actpass-div-info, #repeatone-div-info, #newpass-div-info, #repeattwo-div-info{
    margin-top: 1rem;
}
#userpart{
    margin-top:1rem;
}
#canvasEvent{
    margin-top:1rem;
}
#card-statidisticEvents{
    background-color: #E71D36;
    border-radius: 10px;
    color:white;
}