html{
}
nav{
    box-shadow: none;
}
ul li a.middle
{
    position: relative;
}
ul li a.middle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
ul li a.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
ul li a:hover{
    background-color: transparent;
}
.animated {
    -webkit-animation-duration: 10s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}
@keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}
.fadeIn {
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
}   
#image-principal{
    margin-top:2rem;
}
#test
{
background:red;
animation:mymove 3s ease-out forwards;
animation-iteration-count:3;

/* Safari and Chrome */
-webkit-animation:mymove 3s;
}

@keyframes mymove
{ from {bottom:0px; opacity: 0;}
to {bottom:0px; opacity: 1}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
from {bottom:0px; opacity: 0;}
to {bottom:0px; opacity: 1;}
}