html{
  background-color: rgb(32, 68, 90)  ;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Sarabun', sans-serif;
}
main {
    flex: 1 0 auto;
}
header, main, footer {
    padding-left: 300px;
  }
 
  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
#Description{
  margin-top: 2rem;
}
#viewDates{
  background-color: #b8c6db;
background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);

}