header, main, footer {
    padding-left: 300px;
  }
  
  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
  #TitleSidenav{
    background-color: rgb(245, 29, 47);
  }
  
  #authButton{
      border-radius: 20px;
      background-color: blue;
      margin-top:1rem;
  }
  .switch{
      margin-top:1rem;
  }